requests
beautifulsoup4
python-dotenv
lxml
playwright
spotipy
matplotlib
seaborn
numpy
scikit-learn
accelerate
torch
fugashi
unidic-lite
protobuf
sentencepiece
umap-learn
hdbscan
umap-learn
scipy
torch
pyarrow
